.pagination > ul {
	display: flex;
	justify-content: space-between;
}

li:first-child {
	margin-right: auto;
}

ul li:last-child {
	margin-left: auto;
}

ul > .activeClass {
	border-top: 1px solid rgb(67 56 202 / 700);
}

ul > .disabledClass {
	color: rgb(156, 163, 175);
}
